.Footer {
    margin: 0;
    margin-top: 10px;
    padding: 8px;
    background-color: rgb(60, 60, 60);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer h6 {
    margin: 0;
}

.Credits{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}