.nav-bar{
    background: rgb(0, 0, 0);
    height: 60px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    background-image: url('../Images/logo.png');
    background-size: cover;
    background-position: center;
    /* border: 1px solid white; */
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 8px;
}

.nav-btns{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-right: 10px;
}

.nav-btn{
    border: none;
    font-size: 15px;
    color: white;
    height: 100%;
    margin-left: 15px;
    background: rgb(0, 0, 0, 0);
}

.nav-btn:active{
    background: rgba(255, 255, 255, 0.5);
}