.sidebar{
    height:auto;
    background-color: #c8c8c8;
}

.sidebar li{
    padding: 10px 5px;
    text-align: center;
}

.sidebar li a{
    text-decoration: none;
    color: black;
}

.sidebar li a:hover{
    color: gray;
}